<div id="feedback">
<%= form_for :blogs, url:blogs_path do |f|%>
<p>
<a><%= f.label :name %><br></a>
<%= f.text_field :name %>
</p>
<p>
<a><%= f.label :email %><br></a>
<%= f.text_field :email %>
</p>
<p>
<a><%= f.label :message %><br></a>
<%= f.text_area :message %>
</p>
<br>
<p>
<button type="button" class="btn btn-success">
 <%= f.submit "       " %>
</button>
</p>
<% end %> 
</div>